@tailwind base;
@tailwind components;
@tailwind utilities;


.active-border::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #5956E9;
    bottom: -10px;
}

.overlay { background-color: rgba(0, 0, 0, 0.66); position: fixed; top: 0; left: 0; bottom: 0; z-index: 990; transition: ease 0.5s; }
.sidebar-list { display: block; position: fixed; width: 50%; right: 0; bottom: 0; top: 0; background-color: #f3f6f9; z-index: 1000; transition: ease 0.5s; }

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}